.App {
  text-align: center;
  align-items: center;
  justify-content: center; 
}

.app-container {
  text-align: center;
  color: white;
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #163050;
}

.signout-btn {
  background-color: white;
  color: #007bff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  width: auto; 
  max-width: 150px;
  margin: 0 5px; 
  position: absolute; 
  top: 10px;
  right: 10px;
}

.signout-btn:hover {
  background-color: #0056b3;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Left-align labels in the Authenticator form */
[data-amplify-authenticator] [data-amplify-form] label {
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}

[data-amplify-authenticator] input::placeholder {
  text-align: left;
}

[data-amplify-authenticator] [data-amplify-form] input {
  text-align: left;
}